body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: seagreen;
}
.orange{
    color: orange;
}
.half{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half img{
    width: 80%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(green,yellow);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.blue{
    color: brown;
}
.tomato{
    color:tomato;
}
.c{
    box-shadow: 5px 5px 20px gray;
    border-radius: 20px;
    height: 50%;
    background-color: white;
    float: left;
}
.heading{
    text-align: center;
}
#full{
    height:40%;
    width: 20%;
      
}
#fool{
    height:40%;
    width: 20%;  
}
#pull{
    height:20%;
    width: 20%;
}
.g{
    width:50%;
    font-size:70px;
   
    margin: 150px;

}
.rull{
    background-image: url(shapes/Group_33094_1.png);
    background-repeat: no-repeat;
    background-position: bottom;
    text-align: right;

}


.back{
    background-color: tomato;
}
#foot{
    font-size:30px;
    text-align:center;
    background-color:indigo ;

}
    
